/*// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
h1 {
  color: red;
  font-family: "wilk";
  font-size: 40px;
}

ul {
  list-style: none
}

li {
  display: inline;
  font-size: 50px;
  font-family: "wilk";
  font-style: bold;
  letter-spacing: 80px;
  background-color: #FFDBA7;
  text-transform: capitalize;
}
